html {
  background-color: #FFEFDB;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 720px;
  width: 720px;
  /*margin-right: 100px;*/
  background-color: white;
}

.wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 760px;
  width: 760px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 30px;
  box-sizing: border-box;
  margin-left: 150px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

button {
  background-color: #FCE6C9;
  border: 0px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight:500;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow button2s, -ms-transform button1s, -webkit-transform button1s, transform button1s;
  user-select: none;
  -webkit-user-select: none;
  width: 203.9px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0button8) 0 0 0 4px;
  transition: box-shadow button2s;
}

button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(button96);
}